<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>testMyFramework.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>50CF91EE2B1F847E0098388D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CF92042B1F847F0098388D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>50CF920E2B1F847F0098388D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
